@use 'variables';
@use 'mixins';

.bottom-row{
    @include mixins.default-grid;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: var(--teal);
    color: var(--pink);

    &_slide2{
        background-color: var(--pink);
        color: var(--blue);
    }

    &_slide3{
        background-color: var(--blue);
        color: var(--pink);
    }

    &_slide4{
        background-color: var(--rose);
        color: var(--blue);
    }

    &_slide5{
        background-color: var(--blue);
        color: var(--pink);
    }

    &_slide6{
        background-color: var(--pink);
        color: var(--blue);
    }

    &_slide7{
        background-color: var(--rose);
        color: var(--blue);
    }

    &_slide8{
        background-color: var(--blue);
        color: var(--pink);
    }

    &_slide9{
        background-color: var(--rose);
        color: var(--blue);
    }

    &_slide10{
        background-color: var(--pink);
        color: var(--blue);
    }

    &_slide11{
        background-color: var(--rose);
        color: var(--blue);
    }

    &_slide12{
        background-color: var(--pink);
        color: var(--blue);
    }


    &__link{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/2;
        color: unset;
        width: 5.5rem;
    }

    &__logo{
        place-self: center start;
    }

    &__spotify{
        place-self: center start;
        margin-left: 0.25rem;
    }

    &__hashtag{
        grid-column: 1/2;
        grid-row: 1/2;
        place-self: center end;
        text-transform: uppercase;
    }
}