@use 'variables';
@use 'mixins';

.bottom-row{
    @include mixins.default-grid;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    background-color: var(--teal);

    &__link{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/2;
        color: var(--rose);
    }

    &__logo{
        place-self: center start;
    }

    &__spotify{
        place-self: center start;
        margin-left: 0.25rem;
    }

    &__hashtag{
        grid-column: 1/2;
        grid-row: 1/2;
        place-self: center end;
        text-transform: uppercase;
        color: var(--rose);
    }
}