@use 'variables';
@use 'mixins';

.gift{
    &__container{
        position: absolute;
        left: 0;
        top: 0;
        height: var(--notification-height);
        width:  100%;
        margin-top: 4rem;
        background-color: rgba(0,0,0,0.5);
        @include mixins.default-grid;
    }

    &__content{
        color: var(--gray);
        background-color: var(--rose);
        place-self: center center;
        padding: 2rem;
        border-radius: 0.7rem;
    }

    &__heading{
        @include mixins.slide-heading;
        text-transform: uppercase;
    }

    &__text{
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    .address-form{
        @include mixins.default-grid;
        grid-template-columns: 1fr 4rem 4rem;

        &__label{
            grid-column: 1/2;
            font-weight: 600;
            

            &_state{
                grid-column: 2/3;
                grid-row: 7/8;
            }

            &_zip{
                grid-column: 3/4;
                grid-row: 7/8;
            }
        }

        &__input{
            grid-column: 1/-1;
            background: none;
            outline: none;
            color: var(--gray);
            border: none;
            border-bottom: 1px solid var(--gray);
            padding: 0.4rem 0 0 0.1rem;

            &_city{
                grid-column: 1/2;
                margin-right: 1rem;
            }

            &_state{
                grid-column: 2/3;
                margin-right: 1rem;
            }

            &_zip{
                grid-column: 3/4;
            }
        }

        &__error{
            font-size: 0.75rem;
            margin-left: 0.1rem;
            height: 1rem;

            &_city{
                grid-row: 9/10
            }
            
            &_state{
                grid-row: 9/10
            }

            &_zip{
                grid-row: 9/10
            }
        }

        &__button{
            grid-column: 1/-1;
            margin-top: 2rem;
            background-color: var(--gray);
            padding: 0.75rem 1.75rem;
            place-self: center center;
            outline: none;
            border: none;
            border-radius: 999rem;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }
    }
}