@use 'variables';
@use 'mixins';

.gift{
    &__container{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: var(--height);
        background-color: rgba(0,0,0,0.5);
        @include mixins.default-grid;
    }

    &__content{
        @include mixins.default-grid;
        color: var(--gray);
        background-color: var(--rose);
        place-self: center center;
        padding: 2rem;
        border-radius: 0.7rem;
        height: 30rem;
    }

    &__content-box{
        @include mixins.default-grid;
        place-self: center center;
    }

    &__text{
        font-size: 1.85rem;
        text-align: center;
        line-height: 1.4;
    }

    &__link{
        @include mixins.default-grid;
        background-color: var(--gray);
        border-radius: 999rem;
        height: 3rem;
        width: 10rem;
        place-self: center center;
        margin-top: 2rem;
    }

    &__link-text{
        place-self: center center;
        color: var(--rose);
        font-weight: bold;
        font-size: 1.2rem;
    }
}