@use 'variables';
@use 'mixins';

.home{
    background-color: var(--rose);
    max-width: 414px;
    
    &__container{
        @include mixins.default-grid;
        grid-auto-rows: max-content;
        padding: 0 2rem;
        z-index: 1;
    }

	&__heading{
        text-align: center;
        place-self: center center;
        margin-top: 0.25rem;
        font-weight: 800;
        color: var(--blue);
        font-size: 2.2rem;
        line-height: 1.1;
        width: 85%;
	}

    &__row-display{
        margin-top: 2rem;
        justify-self: center;
    }

    .row{
        @include mixins.default-grid;
        margin-bottom: 2.25rem;
        grid-template-columns: 2rem 6.5rem 1fr;

        &__rank{
            grid-column: 1/2;
            font-weight: 800;
            color: var(--blue);
            font-size: 1.5rem;
            place-self: center center;
        }

        &__image-slot{
            grid-column: 2/3;
            padding: 0.25rem;
            place-self: center center;
        }

        &__image{
            @include mixins.default-img;
            height: 5rem;
            width: 5rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            background: rgba(255,255,255, 0.85);
        }

        &__title{
            grid-column: 3/4;
            color: black;
            font-size: 1.1rem;
            place-self: center start;
            font-weight: 800;
            line-height: 1.5rem;
          }
    }
}