@use 'variables';
@use 'mixins';

.wrapped{
    max-width: 414px;
}

.swiper {
    width: 100%;
    height: var(--height);
}

.swiper-slide {
    @include mixins.default-grid;
    grid-template-columns: 2rem 1fr 2rem;
}

.swiper-button-next, .swiper-button-prev{
    display: none !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: var(--blue) !important;
}

.content{
    @include mixins.default-grid;
    position: relative;
    grid-column: 2/3;
    height: var(--content-height);
    width: 100%;
    margin: 4rem 0;
    padding: 0 2.5rem;
    line-height: 1.15;
    overflow: clip;

    &_slide1{
        background: var(--rose);
    }

    &_slide2{
        background: var(--blue);
    }

    &_slide3{
        background: var(--rose);
        grid-template-rows: 5.25rem;

    }

    &_slide4{
        background: var(--teal);
    }

    &_slide5{
        background: var(--rose);
        grid-template-rows: 5.25rem;
    }

    &_slide6{
        background: var(--blue);
    }

    &_slide7{
        background: var(--pink);
    }

    &_slide8{
        background: var(--teal);
    }
}



.slide-1{
    background: linear-gradient(var(--rose), var(--gray));

    &__heading{
        margin-top: -2rem;
        @include mixins.slide-heading;
        text-transform: uppercase;
        place-self: center center;
        color: var(--blue);
    }
}

.slide-2, .slide-4, .slide-6, .slide-7, .slide-8{

    &__content-box{
        place-self: center center;
        @include mixins.default-grid;
        margin-top: -2rem;
    }

    &__heading{
        @include mixins.slide-heading;
        margin-bottom: 0.5rem;
        margin-top: -2rem;
    }

    &__ellipsis{
        justify-self: center;
        font-size: 1.9rem;
    }
}

.slide-2{
    background: linear-gradient(var(--gray), var(--blue));

    &__heading{
        @include mixins.slide-heading;
        margin-bottom: 0.5rem;
        color: var(--gray);
    }

    &__ellipsis{
        color: var(--gray);
    }

}

.slide-3{
    background: linear-gradient(var(--rose), var(--teal));

    &__heading{
        @include mixins.slide-heading;
        @include mixins.list-slide-heading;
    }

    .row{
        @include mixins.default-grid;
        grid-template-columns: max-content 1fr;
        margin-bottom: 0.75rem;
        font-size: 0.9rem;

        &__image-slot{
            grid-column: 1/2;
            grid-row: 1/3;
            margin-right: 1rem;
        }

        &__image{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
        }

        &__title{
            grid-column: 2/3;
            grid-row: 1/2;
            place-self: end start;
            font-weight: 800;
            margin-bottom: 0.1rem;
        }

        &__artist{
            grid-column: 2/3;
            grid-row: 2/3;
            place-self: start start;
            opacity: 0.95;
            margin-top: 0.1rem;
            font-weight: 600;
        }
    }
}

.slide-4{
    background: linear-gradient(var(--gray), var(--rose));

    &__heading{
        color: var(--pink);
    }

    &__heart{
        font-size: 1.25rem;
    }

    &__ellipsis{
        color: var(--pink);
    }
}

.slide-5{
    background: linear-gradient(var(--pink), var(--teal));

    &__heading{
        @include mixins.slide-heading;
        @include mixins.list-slide-heading;
    }

    .row{
        @include mixins.default-grid;
        margin-bottom: 1.25rem;
        grid-template-columns: 2rem 6.5rem 1fr;

        &__rank{
            grid-column: 1/2;
            font-weight: 800;
            color: var(--blue);
            font-size: 1.5rem;
            place-self: center center;
        }

        &__image-slot{
            grid-column: 2/3;
            padding: 0.25rem;
            place-self: center center;
        }

        &__image{
            @include mixins.default-img;
            height: 5rem;
            width: 5rem;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
            background: rgba(255,255,255, 0.85);
        }

        &__title{
            grid-column: 3/4;
            color: black;
            font-size: 1.1rem;
            place-self: center start;
            font-weight: 800;
            line-height: 1.5rem;
          }
    }
}

.slide-6{
    background: linear-gradient(var(--teal), var(--rose));

    &__heading{
        color: var(--gray);
    }

    &__list{
        @include mixins.slide-heading;
        text-align:unset;
        margin: 0.5rem auto 0;
    }

    &__list-item{
        color: var(--gray);
        margin-bottom: 0.5rem;
    }
}

.slide-7{
    background: linear-gradient(var(--gray), var(--teal));

    &__heading{
        color: var(--blue);
    }

    &__text{
        color: var(--blue);
        margin-top: 0.5rem;
        @include mixins.slide-heading;
    }

}

.slide-8{
    background: linear-gradient(var(--gray), var(--rose));

    &__heading{
        color: var(--pink);
        @include mixins.slide-heading;
    }
}